$link: #efefef;
$bv: blueviolet;

body { 
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: $bv;
  color: whitesmoke;
  h1 {
	color: darken(whitesmoke, 10%);
	text-shadow: 1px 2px 3px rgba(0,0,0,0.75);
  }

  padding: 60px 0; 
}

input::-moz-focus-inner { 
  border: 0; 
}

a.navbar-brand, {
	transition: color 0.3s ease;
	color: lighten($bv, 15%)!important;

	&:hover {
		color: $bv!important;
	}
}

a {
	color: $link;
	outline: 0;
	outline: none!important;
	transition: color 0.3s ease;

	&:hover {
	color: darken($link, 10%);
	}   
	&:active {
	color: darken($link, 15%);
	}
	&:visited {
	color: $link;
	}  
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: white;
	padding: 1em;

	p {
		margin-top: 5px;
	}
}